{% extends 'layout/base-form.html' %}

{% block title %}{{super()}} | {{title}}{% endblock %}

{% block scripts %}
{{super()}}
<script>
    button = document.getElementById("new-entry");
</script>
<script>
    let backdrop = document.querySelector('.backdrop');
    let spinner = document.querySelector('.spinner-border');
    let modalDeleteDialog = document.getElementById('delete-entity-dialog');
    let modalPostDeleteDialog = document.getElementById('post-delete-dialog');

    function dismissModal() {
        if (!spinner.style.display) {
            modalDeleteDialog.style.display = 'none';
            modalPostDeleteDialog.style.display = 'none';
            backdrop.style.display = 'none';
        }
    }

    let modalDeleteDialogMessage = document.getElementById('delete-entity-message');
    backdrop.addEventListener('click', dismissModal);
    document.getElementById('reject-entity-deleted').addEventListener('click', dismissModal);
    document.getElementById('post-delete-confirm').addEventListener('click', dismissModal)
    document.getElementById('post-delete-confirm').addEventListener('click', function () {
        window.location = "{{url_for('manage',entity_type=entity_type)}}"
    })
    let entityDeleteButton;
    // @formatter:off
    {% for entity in table %}
    // @formatter:on
    entityDeleteButton = document.getElementById('delete-entity-{{entity|last}}');

    entityDeleteButton.addEventListener('click', function () {
        let text = modalDeleteDialogMessage.getAttribute("data-text");
        text = text.replace('{name}', '{{entity|first}}');
        modalDeleteDialogMessage.innerHTML = text;

        modalDeleteDialog.style.display = 'block';
        backdrop.style.display = 'block';

        document.getElementById('confirm-entity-deleted').addEventListener('click', function () {
            spinner.style.display = 'inline-block';
            fetch("{{url_for('delete',entity_type=entity_type,id=entity|last)}}", {method: "POST"})
                .then(response => response.json())
                .then(output => {
                    let modalPostDeleteMessage = document.getElementById("post-delete-message");
                    modalPostDeleteMessage.innerHTML = output["message"];
                    let status = output["status"];
                    if (status !== 403) {
                        modalPostDeleteDialog.style.height='auto';
                    }


                    modalPostDeleteDialog.style.display = 'block'
                    modalDeleteDialog.style.display = 'none'
                    spinner.style.display = 'none'
                });
        });
    });
    // @formatter:off
    {% endfor %}
    // @formatter:on
</script>
{% endblock %}

{% block content %}
{{super()}}

<div class="backdrop"></div>
<div class="spinner-border text-warning" role="status"></div>
<div id="delete-entity-dialog" class="delete-modal">
    <h1 class="modal__title">Actually delete?</h1>
    <p id="delete-entity-message" data-text="Do you actually want to delete '{name}'?"
       class="lead delete-message"></p>
    <div class="row modal__actions">
        <button id="confirm-entity-deleted" class="btn btn-outline-warning col-lg-3 col-sm-6">Yes</button>
        <button id="reject-entity-deleted" class="btn btn-warning modal-dismiss col-lg-3 col-sm-6" type="button">No</button>
    </div>
</div>
<div id="post-delete-dialog" class="delete-modal post-delete-dialog">
    <h1 class="modal__title">Deletion result</h1>
    <div id="post-delete-message" class="lead delete-message"></div>
    <div class="row modal__actions">
        <button id="post-delete-confirm" class="btn btn-warning col-lg-3 col-sm-6">Okay</button>
    </div>
</div>

<div class="container headline-container">
    <h1>{{title}}</h1>
</div>
<div class="container">
    {{ wtf.quick_form(form,novalidate=True) }}
</div>
<div class="container container-table">
    <table class="bordered">
        <tr>
            <th>#</th>
            {% for headline in title_row %}
            <th>{{headline}}</th>
            {% endfor %}
            <th></th>
            <th></th>
        </tr>
        {% for entity in table %}
        <tr id="row-entity-{{ entity|last }}">
            <td class="center">{{loop.index}}</td>
            {% for value in entity %}
            {% if loop.index < entity|length %}
            <td {% if value is number or value== 0%}class="center" {%endif%}>{% if value %}
                {% if value is boolean %}
                <input type="checkbox" disabled checked>
                {%else%}
                {{value}}
                {% endif %}
                {% endif %}
            </td>
            {% else %}
            <td class="center">
                <a href="{{ url_for('manage',entity_type=entity_type,id=value) }}"
                   class="btn btn-outline-warning">
                    <i class="bi bi-pencil"></i>
                </a>
            </td>
            <td class="center">
                <a href="#" id="delete-entity-{{ value }}" class="btn btn-outline-warning">
                    <i class="bi bi-trash"></i> </a>
            </td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}

    </table>
</div>

{% endblock %}