apiVersion: v1
kind: PersistentVolume
metadata:
  name: nfs-blood-bowl-league-manager-logos
  namespace: blood-bowl-league-manager
  labels:
    volume: blood-bowl-league-manager-images
spec:
  capacity:
    storage: 1Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: manual
  hostPath:
    path: /mnt/kube-data/kubernetes-blood-bowl/logos